.review-section , .contact-section , .dedication-section{
    .review-title , .contact-title , .dedication-title{
        font-size: 22px;
        color: $main-color;
        font-weight: 300;
        text-align: center;
    }
}
.dedication-section{
    padding: 65px 0px 145px;
}
.review-section{
    padding: 65px 0px 125px;
}
.contact-section{
    padding: 65px 0px 150px;
}

.myform{
    margin-top: 35px;
    .myLabel {
        display: block;
        font-size: 14px;
        color: $main-color;
        font-weight: 500;
        margin-inline-start: 20px;
        margin-bottom: 10px;
    }.required .myLabel{
        &::after{
            content: "*";
            color: red;
        }
    }
    .myInput {
        width: 100%;
        height: 45px;
        border-radius: 25px;
        background-color: #f2f2f2;
        padding: 0 20px;
        border: none;
        &:focus{
            outline: none;
            border: 1px solid $main-color;
        }
    }
    .mytextarea{
        border-radius: 25px;
        background-color: #f2f2f2;
        width: 100%;
        border: none;
        height: 100px !important;
        resize: none;
        padding: 10px 20px;
        &:focus{
            outline: none;
            border: 1px solid $main-color;
        }
    }
}
.general-input{
    margin-bottom: 15px;
}

.checkmark{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    position: relative;
    margin-inline-end: 8px;
    display: inline-block;
    &::after{
        content: "";
        position: absolute;
        display: none;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 6px;
        height: 10px;
        border: 1px solid #fff;
        border-width: 0 3px 3px 0;
    
    }
    
}
.radio-div{
    input:checked ~ .checkmark:after {
        display: block;
      }
}

.submitBtn{
    padding: 13px 69px;
    display: inline-block;
    border-radius: 25px;
    background-color: $main-color;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    
    text-align: center;
    transition: all linear .2s;
    border: none;
}

.submit-general-input{
    text-align: center;
}

// checkbox
.myradio{
    display: flex;
    margin-inline-start: 20px;
}



.radio-general-input{
    margin-top: 22px;
    .myLabel{
        margin-bottom: 13px;
    }
}


.radio-div{
    width: 213px;
    label{
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        color: #471b4e;
        font-weight: 300;
        cursor: pointer;
    }
    input{
        opacity: 0;
        appearance: none;
        &:checked + .checkmark{
            background-color: $main-color;
            border: 2px solid $main-color;
        }
    }
}
.general-input-behavior{
    margin-top: 17px;
}

.myradio-service-quality{
    flex-wrap: wrap;
}
.hair-type-section  , .skinClean-type-section{
    width: 404px;
    max-width: 100%;
    margin-inline-start: 20px;
}
.hair-mainLabel{
height: 38px;
border-radius: 3px;
background-color: #471b4e;
width: 100%;
display: flex;
align-items: center;
margin-bottom: 3px;
span{
    color: #fff;
    font-size: 14px;
    margin-inline-start: 15px;
}
}
.myradio{
    flex-wrap: wrap;
}
.hair-type-section , .skinClean-type-section {
    .radio-div{
        width: auto;
    }
}
.dedication-section{
    
    .service-type-radio{
        display: flex;
        align-items: center;
        width: 400px;
        justify-content: space-between;
    }
    .checkmark{
        margin-inline-end: 10px;
    }
}
.price {
    span {
        font-size: 14px;
        color: #7b7a7b;
        font-weight: 500;
    }
}
.skinClean-type-section{
    .hair-mainLabel{
        margin-top: 20px;
    }
}
.payment-sec{
    text-align: center;
    margin-top: 50px;
}
.total{
font-size: 24px;
color: #471b4e;
font-weight: 500;
margin-bottom: 15px;
}
.tax{
    font-size: 12px;
    color: #ff0000;
    font-weight: 300;
}
.payment-completion{
display: inline-block;
padding: 12.3px 36px;
border-radius: 25px;
background-color: #471b4e;
font-size: 17px;
color: #ffffff;
font-weight: 500;
text-align: center;
  text-decoration: none;
  transition: all linear .2s;
  &:hover{
    text-decoration: none;
    background-color: $second-color;
    color: #fff;
  }
  outline: none;
  cursor: pointer;
}
.gifting-success{
    padding: 75px 0 130px 0;
}
.gifting-container{
    max-width: 555px;
    padding: 0 20px;
    margin: 0 auto;
}
.gifting-success-div{
    text-align: centere;
}
.done {
    text-align: center;
    margin-bottom: 30px;
    i {
        font-size: 72px;
        color: #25d366;
    }
}
.thanks-text {
    font-size: 18px;
color: #471b4e;
font-weight: 700;
margin: 0 auto 20px auto;
text-align: center;
}
.desc-para {
    font-size: 16px;
    color: #471b4e;
    font-weight: 300;
    text-align: center;
}
.desc-para:first-of-type{
    margin-bottom: 10px;
}
.btns-sec{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
       
        display: inline-block;
       padding: 12px 32.3px;
        border-radius: 24px;
        font-size: 16px;
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        transition: all linear .2s;
        &:hover{
          text-decoration: none;
          color: #fff;
        }
        outline: none;
        cursor: pointer;
    }
    .goShop{
        background-color: $second-color;
        &:hover{
            background-color: $main-color;
        }
    }
    .goHome{
        background-color: $main-color;
        margin-inline-start: 10px;
        &:hover{
            background-color: $second-color;
        }
    }
}




@include min-768 {
    .submitBtn{
        &:hover{
            background-color: $second-color;
            color: #fff;
        }
    }
}

@include min-768{
    .myform{
        .mycontainer{
            max-width: 456px;
            margin: auto;
        }
    }
  
}

@include max-768 {
    .myform .myLabel{
        font-size: 13px;
    }
    .submitBtn{
       padding:  11px 55px;
    }
    .gifting-success {
        padding: 40px 0 80px 0;
    }
 
    .done i{
        font-size: 50px;
    }
    .btns-sec{
        flex-direction: column;
    }
    .btns-sec a{
        font-size: 15px;
        padding: 11px 30px;
    }
    .done{
        margin-bottom: 20px;
    }
    .thanks-text{
        font-size: 16px;
    }
    .desc-para{
        font-size: 14px;
        line-height: 1.8;
    }
    .desc-para:first-of-type{
        margin-bottom: 5px;
    }
    .btns-sec .goHome{
        margin-inline-start: 0;
    }
    .btns-sec .goShop{
        margin-bottom: 20px;
    }
    .hair-type-section, .skinClean-type-section{
        width: auto;
    }
    .total{
        font-size: 21px;
    }
    .checkmark{
        flex-shrink: 0;
    }
    .payment-completion{
       padding: 11px 23px; 
       font-size: 16px;
       &:hover{
        background-color: $main-color;
       }
    }
    .price span{
        font-size: 13px;
    }
    .dedication-section{
        .service-type-radio{
            max-width: 99%;
        }
    }
    .radio-general-input .myLabel{
        margin-bottom: 15px;
    }
    .review-section .review-title , .contact-section .contact-title , .dedication-section .dedication-title{
        font-size: 17px;
        line-height: 1.7;
    }
    .review-section , .contact-section , .dedication-section{
        padding: 40px 0 70px 0;
    }
    .general-input{
        margin: 20px 0;
    }
    .submit-general-input{
        margin: 0;
        margin-top: 20px;
    }
    .myradio{
        flex-wrap: wrap;
    }
}

@media screen and (max-width : 500px) {
   
    .radio-div{
        width: 142px ;
        max-width: 100%;
    }
    .dedication-section{
        .radio-div{
            width: 150px ;
            max-width: 100%;
        }
    }
}
